body {
    background-image: url(../img/fondo_taller-06.png);
    background-position: center center;
}


/*---NAVBAR---*/

#div1 {
    position: absolute;
    height: 10%;
    left: 5%;
    width: 90%;
    top: 0%;
    background-color: #000000ad;
    z-index: 9999;
}

.navbar {
    color: #000000b2;
    background-color: transparent !important;
}

nav .navbar-nav li a {
    color: #000000 !important;
}

nav .navbar-nav li a:hover {
    color: #000000 !important;
}

.algo {
    background-color: transparent !important;
    border: none;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    color: white !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: #000000ad;
    border: none;
}


/*------------------------------------------------------*/


/*---CAROSUEL---*/

#div2 {
    position: relative;
    background-color: #000000;
    height: 90%;
    left: 5%;
    width: 90%;
    top: 10%;
}

#divapi {
    position: absolute;
    background-color: #ffffff;
    height: 90%;
    left: 15%;
    width: 90%;
    top: 10%;
}

#divlist {
    position: absolute;
    background-color: #ffffff;
    height: 90%;
    left: 5%;
    width: 90%;
    top: 10%;
}

#divcontactos {
    position: absolute;
    background-color: #000000;
    height: 90%;
    left: 25%;
    width: 45%;
    top: 10%;
}

@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
    .img-fluid-1 {
        height: auto;
        width: 100%;
    }
    .texto {
        color: #fff;
        padding: 13px;
    }
}


/* large - display 3 */

@media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
    .img-fluid-1 {
        height: auto;
        width: 100%;
    }
    .texto {
        color: #fff;
        padding: 13px;
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
    .img-fluid-1 {
        height: auto;
        width: 100%;
    }
    .texto {
        color: #fff;
        padding-top: 400px;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.carousel-control-prev {
    left: 0;
    width: 25px;
}

.carousel-control-next {
    right: 0;
    width: 25px;
}

#Titulo {
    color: #fff;
    padding: 13px;
}


/*----------------INFRAESTRUCTURA-------------------------*/

#div3 {
    position: absolute;
    background-color: #000000;
    height: 90%;
    left: 5%;
    width: 90%;
    top: 10%;
}

.div_c_l {
    background-color: rgba(255, 255, 255, 0.705);
}

.div_c_r {
    background-color: rgba(255, 255, 255, 0.705);
}

.btn_1 {
    background-color: rgba(129, 129, 129, 0.5);
    border: none;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    color: white !important;
    width: 100%;
}

.redes_fondo {
    margin-top: 25px;
}

.wsp {
    width: 40px;
    height: 40px;
}

.wsp_fondo {
    background-color: rgba(72, 255, 0, 0.5);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.insta_fondo {
    background-color: rgba(255, 0, 212, 0.5);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.face_fondo {
    background-color: rgba(0, 17, 255, 0.5);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}