{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!--Styles-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Cesfam</title>
</head>

<body>
    <!--!!!NAVBAR!!!-->
    <div id="div1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light float-left">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a href="{%url 'home'%}"><button class="btn btn-secondary algo" type="button" id="dropdownMenu2" aria-haspopup="true" aria-expanded="false">INICIO</button></a>{% if request.user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle algo" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MEDICAMENTO</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a href="{%url 'form_medicamento'%}"><button class="btn dropdown-item algo" type="button">AGREGAR</button></a>
                            <a href="{%url 'reserva'%}"><button class="btn dropdown-item algo" type="button">RESERVAR</button></a>
                            <a href="{%url 'listmedicamentos'%}"><button class="btn dropdown-item algo" type="button">REVISAR</button></a>
                            <a href=""><button class="btn dropdown-item algo" type="button">CADUCAR</button></a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle algo" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRESCRIPCION</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a href="{%url 'form_prescripcion'%}"><button class="btn dropdown-item algo" type="button">REVISAR</button></a> {% if request.user.is_authenticated and perms.Admin %}
                            <a href="{%url 'listprescripciones'%}"><button class="btn dropdown-item algo" type="button">AGREGAR</button></a> {% endif %}
                        </div>
                    </div>{% endif %} {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}"><button class="btn btn-secondary algo" type="button" id="dropdownMenu2" aria-haspopup="true" aria-expanded="false">SALIR</button></a>
                    <span class="badge red z-depth-1 mr-1"> {{ user }} </span>{% else %}
                    <a href="{% url 'login' %}"><button class="btn btn-secondary algo" type="button" id="dropdownMenu2" aria-haspopup="true" aria-expanded="false">CONECTARSE</button></a>{% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <!--!!!FORMULARIO!!!-->
    {% load crispy_forms_tags %}
    <div id="divcontactos">
        <form method="post" action="form_mod_prescripcion" id="formulario" method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="txtIDpre" class="form-label">ID Prescripcion</label>
                <input type="number" class="form-control" name="txtIDpre" id="txtIDpre" />
            </div>
            <div class="mb-3">
                <label for="txtDESCpre" class="form-label">Descripcion</label>
                <input type="text" class="form-control" name="txtDESCpre" id="txtDESCpre" />
            </div>
            <div class="mb-3">
                <label for="txtDATEpre" class="form-label">Fecha Emision</label>
                <input type="text" class="form-control" name="txtDATEpre" id="txtDATEpre" />
            </div>
            <div class="mb-3">
                <label for="txtMEDICpre" class="form-label">Medico</label>
                <input type="text" class="form-control" name="txtMEDICpre" id="txtMEDICpre" />
            </div>
            <div class="mb-3">
                <label for="txtPACpre" class="form-label">Nombre del paciente</label>
                <input type="text" class="form-control" name="txtPACpre" id="txtPACpre" />
            </div>
            <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
            <input type="reset" class="btn btn-primary" id="limnpiar" value="Limpiar"> {% if mensaje %}
            <div id="error" class="alert alert-success" role="alert">
                {{ mensaje }}
            </div>
            {% endif %}
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>